{% extends "base.html" %}

{% block titulo %}Quiénes Somos{% endblock titulo %}
{% load static %}
{% block contenedor %}
  <div class="container my-5">
    <div class="text-center mb-4">
      <h1 class="fw-bold">Quiénes Somos</h1>
      <p class="lead">
        En <strong>Refugio Esperanza Animal</strong> creemos que cada vida merece una segunda oportunidad.
      </p>
    </div>

    <div class="row">
      <div class="col-md-8 mx-auto">
        <p>
          Somos un conjunto de organizaciones sin fines de lucro dedicada al rescate, cuidado y adopción responsable de perros y gatos en situación de abandono.
          De momento somos un grupo de 7 refugios.
        </p>
        <p>
          Nuestro equipo está formado por voluntarios apasionados que trabajan día a día para brindar alimento, atención veterinaria y, sobre todo, cariño a cada animal que llega a nuestras puertas.
        </p>
        <p>
          Más que un refugio, somos una comunidad que busca generar conciencia sobre el respeto y la protección de los animales. Promovemos campañas de adopción, jornadas de vacunación y programas educativos para fomentar una convivencia responsable y amorosa entre humanos y sus compañeros de cuatro patas.
        </p>
        <p>
          Cada adopción es una historia de esperanza cumplida. Nuestro compromiso es seguir construyendo un futuro donde ningún animal quede atrás.
        </p>
      </div>
    </div>
  </div>
{% endblock contenedor %}