
<!-- accounts/templates/accounts/register.html -->


{% extends 'base.html' %}
{% load static %}
{% block contenedor %}
<div class="container mt-4">
  <h2 class="text-center mb-4">Registrarse como Adoptante</h2>
  
  <form method="post">
    {% csrf_token %}
    
    <div class="mb-3">
      {{ form.dni.label_tag }}
      {{ form.dni }}
      {% if form.dni.errors %}
        <div class="text-danger">{{ form.dni.errors }}</div>
      {% endif %}
    </div>

    <div class="mb-3">
      {{ form.nombre.label_tag }}
      {{ form.nombre }}
    </div>

    <div class="mb-3">
      {{ form.apellido.label_tag }}
      {{ form.apellido }}
    </div>

    <div class="mb-3">
      {{ form.email.label_tag }}
      {{ form.email }}
    </div>

    <div class="mb-3">
      {{ form.password.label_tag }}
      {{ form.password }}
    </div>

    <div class="mb-3">
      {{ form.fecha_nacimiento.label_tag }}
      {{ form.fecha_nacimiento }}
    </div>

    <div class="mb-3">
      {{ form.domicilio.label_tag }}
      {{ form.domicilio }}
    </div>

    <div class="mb-3">
      {{ form.telefono.label_tag }}
      {{ form.telefono }}
    </div>

    <div class="mb-3">
      {{ form.genero.label_tag }}
      {{ form.genero }}
    </div>

    <button type="submit" class="btn btn-success">
      Registrarse <img src={% static "img/agregar.png" %} style="height:40px">
    </button>
    <a class="btn btn-primary" href="{% url 'inicio' %}" class="card-link">Volver al Inicio
      <img src={% static "img/gato-neutro.png" %} style="height:40px">
    </a>
  </form>

</div>


<!-- Botón para crear usuario -->
<div class="mt-3 d-flex align-items-center">
  <p class="mb-0 me-2">¿Ya tienes cuenta?</p>
  <a href="{% url 'login' %}" class="btn btn-success">
    Inicia Sesión 
    <img src="{% static 'img/gato-rosa2.png' %}" style="height:40px">
  </a>
</div>

{% endblock %}