<!-- PARA EDITAR ADOPCIÓN -->
{% extends 'base.html' %}
{% block contenedor %}
{% load static %}

{% if object %}
<h2 class="d-flex justify-content-center">Editar Adopción</h2>
<form method="post" class="form-style-3">
    {% csrf_token %}

    <!-- Renderizar los demás campos -->
    {{ form.non_field_errors }}
    
    <!-- Campos NO editables (solo lectura) -->
    <p><strong>Animal:</strong> {{ adopcion.animal.nombre }} ({{ adopcion.animal.get_especie_display }}, {{ adopcion.animal.get_sexo_display }})</p>
    <p><strong>Refugio:</strong> {{ adopcion.animal.refugio.nombre }}</p>
    <p><strong>Adoptante:</strong> {{ adopcion.adoptante }}</p>
    
    <!-- Campos EDITABLES -->
    <p>{{ form.fecha_adopcion.label_tag }} {{ form.fecha_adopcion}}</p>
    <p>{{ form.estado.label_tag }} {{ form.estado }}</p>

    <a class="btn btn-primary" href="{% url 'adopciones:adopcion_list' %}" class="card-link">Volver al Listado
        <img src ="{% static 'img/gato-azul.png' %}"  style="height:40px">
    </a>
    <button class="btn btn-success" type="submit">Guardar cambios
        <img src ="{% static 'img/gato-neutro2.png' %}"  style="height:40px">
    </button>
</form>
{% endif %}

{% endblock contenedor %}