<!-- PARA EDITAR REFUGIO -->
 
{% extends 'base.html' %}
{% block contenedor %}
{% load static %}
    
<h2 class="text-center mb-4" > Modificar Refugio </h2>
    <div class="d-flex justify-content-center">
    <form method="post" class= "mt-4">

    {% csrf_token %}

    <div class= "mb-3">
        <label for="{{ form.nombre.id_for_label }}" class="form-label">Nombre:</label>
        {{ form.nombre }}
    </div>
    
        <div class="mb-3">
            <label for="{{ form.domicilio.id_for_label }}" class="form-label">Domicilio:</label>
            {{ form.domicilio }}
        </div>

        <div class="mb-3">
            <label for="{{ form.domicilio.id_for_label }}" class="form-label">Telefono:</label>
            {{ form.telefono }}
        </div>

    <div>
        <a class="btn btn-primary" href="{% url 'refugios:refugio_list' %}" class="card-link">Volver al Listado
            <img src ="{% static 'img/gato-azul.png' %}"  style="height:40px">
        </a>
        <button type="submit" class="btn btn-success">Guardar
            <img src ="{% static 'img/gato-neutro2.png' %}"  style="height:40px">
        </button>
    </div>

    </div>
    </div>
    </form>

{% endblock contenedor %}