<!-- PARA EDITAR REFUGIO -->
 
{% extends 'base.html' %}
{% block contenedor %}


<div class= "form-style-3">
    <h2 class="titulo-grid" > Modificar Refugio </h2>

    <form method="post" class= "mt-4">

    {% csrf_token %}

    <div class= "mb-3">
        <label for="{{ form.nombre.id_for_label }}" class="form-label">Nombre:</label>
        {{ form.nombre }}
    </div>
    
        <div class="mb-3">
            <label for="{{ form.domicilio.id_for_label }}" class="form-label">Domicilio:</label>
            {{ form.domicilio }}
        </div>

        <div class="mb-3">
            <label for="{{ form.domicilio.id_for_label }}" class="form-label">Telefono:</label>
            {{ form.telefono }}
        </div>

    <div>
        <a class="btn btn-primary" href="{% url 'refugios:refugio_list' %}" class="card-link">Volver al Listado</a>
        <button type="submit" class="btn btn-success">Guardar</button>
    </div>

    </div>
    
    </form>
</div>

{% endblock contenedor %}