<!-- AGREGAR REFUGIO -->
 
{% extends 'base.html'%}
{% block contenedor %}
{% load static %}

<div class= "form-style-3 d-flex justify-content-center">
  <form method="post" class="form-style-3">
  <h2 class="titulo-grid d-flex justify-content-center"> Agregar Refugio </h2>
    <br>

    {% csrf_token %}
      
    {{form.nombre.label_tag}}
    {{form.nombre.as_widget}}
    <br>
    <br>

    {{form.domicilio.label_tag}}
    {{form.domicilio.as_widget}}
    <br>
    <br>

    {{form.telefono.label_tag}}
    {{form.telefono.as_widget}}
    <br>
    <br>

    <div>
      <a class="btn btn-primary" href="{% url 'refugios:refugio_list' %}" class="card-link">Volver al Listado
        <img src="{% static "img/gato-azul.png" %}" style="height:40px">
      </a>
      <button type="submit" class="btn btn-success">Guardar
        <img src="{% static "img/gato-neutro2.png" %}" style="height:40px">
      </button>
    </div>
</form>
</div>

{% endblock contenedor %}