<!-- PARA EDITAR ANIMAL -->
 
{% extends 'base.html' %}
{% block contenedor %}
{% load static %}

<div class="form-style-3"> 

<h2 class="text-center mb-4">Editar Animal</h2>
<form method="post" enctype="multipart/form-data" class= "form-style-3">
    {% csrf_token %}

    <!-- Renderizar los demás campos -->
    {{ form.non_field_errors }}
    <p>{{ form.nombre.label_tag }} {{ form.nombre }}</p>
    <p>{{ form.especie.label_tag }} {{ form.especie }}</p>
    <p>{{ form.sexo.label_tag }} {{ form.sexo }}</p>
    <p>
        {{ form.descripcion.label_tag }}
        {{ form.descripcion }}
    </p>
    <p>{{ form.fecha_nacimiento.label_tag }} {{ form.fecha_nacimiento }}</p>
    <p>{{ form.refugio.label_tag }} {{ form.refugio }}</p>
    <p>{{ form.adoptado.label_tag }} {{ form.adoptado }}</p>
    <!-- Mostrar la imagen actual -->
    {% if form.instance.foto %}
        <img src="{{ form.instance.foto.url }}" alt="{{ form.instance.nombre }}" width="150">
    {% endif %}

    <!-- Campo de imagen -->
    <p>{{ form.foto.label_tag }} {{ form.foto }}</p>

    <a class="btn btn-primary" href="{% url 'animales:animal_list' %}" class="card-link">Volver al Listado
        <img src ="{% static 'img/gato-azul.png' %}"  style="height:40px">
    </a>
    <button class="btn btn-success" type="submit">Guardar cambios
        <img src ="{% static 'img/gato-neutro2.png' %}"  style="height:40px">
    </button>
</form>
</div>


{% endblock contenedor %}