<!-- CONFIRMAR BORRADO ANIMALES -->
 
{% extends 'base.html' %}
{% load static %}
{% block contenedor %}


<div class= "form-style-3">
  <h2> Confirmar Eliminación del Animal</h2>

  <div class="alert alert-danger" role="alert">
    ¿Esta seguro que desea eliminar el animal |{{animal.nombre}}| ?
  </div>

  <form method='post'>
      {% csrf_token %}
      <button type="submit" class="btn btn-success"> Confirmar Borrado
          <img src="{% static "img/activo.png" %}" width=25/>
      </button>
      <a class="btn btn-danger" href="{%  url 'animales:animal_list' %}"> Cancelar el Borrado
        <img src="{% static "img/inactivo.png" %}" width=25/>
      </a>
  </form>
  {% endblock contenedor %}
</div>